<div id="policyApp">
  <div class="title-on-content">
    <div style="float: left;">
      <span>Policy Management</span>
    </div>
    <div style="float: right;">
      <button type="button" class="btn btn-default" data-ng-click="show_search = !show_search">
        <i class="fa fa-search"></i>
      </button>
      <button type="button" class="btn btn-default" data-ng-mouseenter="show_import_export = true"
        >
        <i class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default">
        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;CREATE POLICY
      </button>
    </div>
    <div class="clear"></div>
  </div>
  <div data-uib-collapse="!show_search">
    <div class="well well-lg">Some content</div>
  </div>
  <div data-uib-collapse="!show_import_export" id="policy-import-export" data-ng-mouseleave="show_import_export = false">
  <div>
	<div style="height: 40px;width: 34px; visibility: hidden;" data-ng-mouseleave="show_import_export = false"></div>
    <div class="well well-lg" data-ng-mouseleave="show_import_export = false">
      <div>
        <div>
          <p>
            <span><i class="fa fa-download"></i>&nbsp;&nbsp;Import Policies</span>
          </p>
        </div>
      </div>

      <div>
        <div>
          <p>
            <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Export All Policies</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div data-ng-include="'share/search.html'"></div>
  <table id="policyListTable">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Action</th>
        <th>Resource</th>
        <th>Allow/Deny</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="policy in policyList | filter : filterBy.text | filter : byStatus()"
        class="policy {{policy.status}}">
        <td>{{policy.subject}}</td>
        <td>{{policy.action}}</td>
        <td>{{policy.resource}}</td>
        <td>{{policy.ad}}</td>
        <td><span style="width: 75px; display: inline-block;">{{policy.status}}</span>
          <button class="button btn-success" data-ng-disabled="policy.status != 'deactivated'"
            data-ng-click="policy.status = 'draft'">Activate</button>
          <button class="button btn-info" data-ng-disabled="policy.status != 'deployed'"
            data-ng-click="policy.status = 'deactivated'">Deactivate</button>
          <button class="button btn-warning" data-ng-disabled="policy.status != 'draft'"
            data-ng-click="policy.status = 'deployed'">Deploy</button> <a href="#/editPolicy"><i title="Edit"
            data-ng-click="editPolicy(policy)" class="fa fa-pencil-square-o" style="cursor: pointer;"></i></a> <i
          title="Delete" data-ng-click="deletePolicy($index)" class="fa fa-times" style="cursor: pointer;"></i>
      </tr>
    </tbody>
  </table>
  <br> <a href="#/createPolicy">Create</a>
</div>