body{
font-family:'Fira Sans Bold', 'Fira Sans';
}
#main-nav{
font-weight:bold;
font-size:13px;
width:225px;
//background-color:#3f51b5;
//color: #FFFFFF;
.panel-body{
     text-align: left !important;
}

.smaller-panel{
font-size:13px !important;
}
}

#main-content{
width:1005px;
.title-on-content{
	height: 80px;
	padding:20px 18px 20px 36px;
	font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
  //  color: rgb(52,71,79);
	&>div{
		height:40px;
	}
}
#policy-import-export{
text-align: right;
z-index:10;
position: absolute;
right: 33px;
top: 15px;
// padding-top: 40px;
&>div{
display:inline-block;
}
}
}
.policy{
  td{
    padding:3px 5px;
    text-align: center;
  }
  &.deployed{
    background-color:green;
  }
  &.deactivated{
    background-color:orange;
  }
  &.draft{
    background-color:#00A;
    color:white;
  }
}

.panel-body{
padding:0 0 0 15px !important;
}

.panel-group {
    margin-bottom: 0 !important;
}


.clear{
float:none;
clear:both;
}