body {
  font-family: 'Fira Sans Bold', 'Fira Sans'; }

#main-nav {
  font-weight: bold;
  font-size: 13px;
  width: 225px; }
  #main-nav .panel-body {
    text-align: left !important; }

.smaller-panel {
  font-size: 13px !important; }

#main-content {
  width: 1005px; }
  #main-content .title-on-content {
    height: 80px;
    padding: 20px 18px 20px 36px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left; }
    #main-content .title-on-content > div {
      height: 40px; }
  #main-content #policy-import-export {
    text-align: right;
    z-index: 10;
    position: absolute;
    right: 33px;
    top: 15px; }
    #main-content #policy-import-export > div {
      display: inline-block; }

.policy td {
  padding: 3px 5px;
  text-align: center; }
.policy.deployed {
  background-color: green; }
.policy.deactivated {
  background-color: orange; }
.policy.draft {
  background-color: #00A;
  color: white; }

.panel-body {
  padding: 0 0 0 15px !important; }

.panel-group {
  margin-bottom: 0 !important; }

.clear {
  float: none;
  clear: both; }

.uib-dropdown-menu > li {
  padding-left: 12px; }
.uib-dropdown-menu .btn-line {
  padding-left: 16px; }

label.nobold {
  font-weight: normal; }

.dropdown-toggle {
  text-align: left; }

div.inline {
  display: inline-block; }
