<label>
  <input data-ng-model="filterBy.text">
</label>
<label>
  <input name="filterByStatus" data-ng-model="filterBy.status.deactivated" type="checkbox"
    data-ng-true-value="true" data-ng-false-value="false">Deactivated
</label>
<label>
  <input name="filterByStatus" data-ng-model="filterBy.status.deployed" type="checkbox" data-ng-true-value="true"
    data-ng-false-value="false">Deployed
</label>
<label>
  <input name="filterByStatus" data-ng-model="filterBy.status.draft" type="checkbox" data-ng-true-value="true"
    data-ng-false-value="false">Draft
</label>
